.CreateNews {
    width: 70%;
    margin: auto;
    background-color: #0B1A2F;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .createnews {
    background-color: #0B1A2F;
    width: 100%;
  }