

/* container for cards */
/* .card-container-test{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin-left: 210px;
    margin-right: 210px;
    
} */
/*  */
.card{
    /* width: 12px; */
    width: auto;
    margin-top: 2%;
    background-color: #0b1a2f;
    border-radius: 2%;
    border: 1px solid black;
}
/* container for header */
.card-header-container{
    margin-left: 3%;
    margin-right: 3%;
    height: 20px;
    /* width: 330px; */
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;

}
.card-header-1{
    height: auto;
    text-align: left;
    color: #c4c4c4;
    font-size: 12px;
}
.card-header-2{
    height: auto;
    width: auto;
    text-align: right;
    color: #c4c4c4;
    font-size: 12px;
}

.card-image-container{
    border-radius: 2%;
    margin-left: 1%;
    margin-right: 1%;
    height: 200px;
    background-color: #c4c4c4;
}
.card-body-container{
    margin-left: 3%;
    margin-right: 3%;
    background-color: transparent;
}
.card-body-header{
    font-size: 16px;
    color: #c4c4c4;
    background-color: transparent;
}
.card-body-text{
    font-size: 12px;
    color: #c4c4c4;
    background-color: transparent;
}