video{
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: auto;
    z-index: 0; 
    transform: translateX(-50%) translateY(-50%);
}

.carousel-slide{
    margin: auto;
}

.carousel-item{
    
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
    margin-top: 10%;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    animation-delay: 1s;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    animation-delay: 2s;
}
.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: #1977cc;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}

/* .aftervideo {
    margin: auto;
    color: white;
} */

.HomePage img {
    width: 80%;
    margin-top: 5%;
}

