form{
    max-width: 1080px;
    margin: auto;
}
.form-header{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 48px;
    text-align: center;
}
.lesson-title{
    font-size: 32px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.category{
    font-size: 32px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.select-container{
    background-color: #fff;
}
.body{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 32px;
}
.button-container{
    margin-top: 2%;
    margin-bottom: 2%;
}
.submit-button{
    float: right;
}