* {
  text-align: center;
  font-size: 20px;
  background-color: #172D55;
  color: white;
}

.crypto_price {
  color: #CD2A11;
}

.crypto_price_component {
  padding-top: 64px;
}

.crypto_price_label {
  color: #61918F;
  font-size: 25px;
}

.coin_note {
  background-color: #444762;
  text-align: left;
}

